{% extends 'base.html' %}

{% block title %}
Cursos
{% endblock title %}

{% block content %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for course in courses %}
      <div class="col">
          <div class="card shadow-sm">
              <img src="/media/{{ course.icon }}" class="bd-placeholder-img card-img-top" width="200" height="300" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
              <div class="card-body">
              <p class="card-text">{{ course.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ course.get_absolute_url }}" type="button" class="btn btn-sm btn-outline-primary">Acessar curso</a>
                </div>
              </div>
              </div>
          </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}